<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application android:theme="@style/Theme.cnmaya3"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <!-- Splash Activity is the launcher -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.cnmaya3.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Welcome Activity -->
        <activity
            android:name=".WelcomeActivity"
            android:exported="false"
            android:theme="@style/Theme.cnmaya3.NoActionBar" />

        <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.cnmaya3.NoActionBar" />

        <!-- Signup Activity -->
        <activity
            android:name=".SignupActivity"
            android:exported="false"
            android:theme="@style/Theme.cnmaya3.NoActionBar" />

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

    </application>

</manifest>
